@import url("https://fonts.googleapis.com/css2?family=Alatsi&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");

:root {
  /* --section-about-bg: url(https://websitedemos.net/diagnostics-lab-02/wp-content/uploads/sites/662/2020/08/diagnostic-lab-hero-bg.jpg); */
}
.section-about::before {
  background-size: 30%;
  z-index: 0;
}

body,
small,
.menu-link,
.sub-menu-container .menu-item > .menu-link,
.wp-caption,
.fbox-center.fbox-italic p,
.skills li .progress-percent .counter,
.nav-tree ul ul a,
.font-body,
.entry-link span,
.entry blockquote p,
.more-link,
.comment-content .comment-author span,
.comment-content .comment-author span a,
.button.button-desc span,
.testi-content p,
.team-title span,
.before-heading,
.wedding-head .first-name span,
.wedding-head .last-name span,
.font-secondary,
.menu-link {
  font-family: "Raleway", sans-serif !important;
  font-size: 14px !important;
}

.font-body {
  font-size: 14px !important;
  font-weight: 600 !important;
}

#content p {
  margin-bottom: 0;
  font-size: 16px;
}

#logo img {
  padding: 0.5vw 0;
}

.heading-block::after {
  border-top: 2px solid #3ab2b8ff !important;
  border-color: #3ab2b8ff;
}

.fbox-icon i,
.fbox-icon img {
  background-color: rgb(58, 178, 184) !important;
}

.section-clients {
  background-color: #fff !important;
}

.section {
  background-color: rgba(58, 178, 184, 0.2);
}

h2,
.fbox-content h3,
.heading-block h2 {
  font-family: "Raleway", sans-serif !important;
  font-weight: bold;
}

.heading-block h2 {
  font-weight: bold !important;
  text-transform: uppercase !important;
}

.counter + h5 {
  font-weight: bold !important;
  margin-bottom: 0;
  font-size: 14px !important;
}

.counter .font-body {
  font-size: 20px !important;
  font-weight: bold !important;
}

.section-about::before {
  transform: rotate(0);
}

.btn-primary {
  background-color: #3ab2b8ff !important;
  border-color: #3ab2b8ff !important;
}

.dark .owl-carousel .owl-dots .owl-dot,
.owl-carousel .owl-dots .owl-dot,
body:not(.dark) #copyrights {
  background-color: #3ab2b8ff !important;
}

#copyrights,
.dark .copyright-links a,
.dark #copyrights,
#copyrights.dark,
.dark #footer .social-icon.si-borderless,
#footer.dark .social-icon.si-borderless {
  color: #fff !important;
}

.about {
  background-image: url(https://websitedemos.net/diagnostics-lab-02/wp-content/uploads/sites/662/2020/08/diagnostic-lab-hero-bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  padding: 80px 0;
}

.about-content-wrapper {
  margin-bottom: 80px;
}

.about-content-title {
  margin-top: -5px;
}

.about-content-counter {
  margin-left: auto;
  width: fit-content;
  font-family: "Raleway", sans-serif !important;
  font-weight: bold;
  font-size: 20px;
  margin-top: -5px;
}

.about-content-description {
  font-size: 16px;
}

.card-text {
  margin-bottom: 20px !important;
}

@media (max-width: 991px) {
  .about-content-title {
    font-size: 20px;
    margin-top: -2px;
  }
}

@media (max-width: 767px) {
  .about-content-counter {
    margin-left: 0;
  }

  .about-content-description {
    margin-bottom: 30px !important;
  }

  .about-button {
    font-size: 18px;
  }

  .about-image .about-image-text {
    font-size: 100px;
  }

  .about-image {
    margin: 75px 0;
  }
  .counter + h5 {
    font-size: 12px !important;
  }
}
@media (max-width: 575px) {
}
